name: frontend
description: A Flutter portfolio frontend
publish_to: 'none'
environment:
  sdk: '>=2.17.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  http: ^1.0.0
  image_picker: ^1.0.0
  shared_preferences: ^2.5.4
  url_launcher: ^6.2.0
  font_awesome_flutter: ^10.12.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/photo.jpeg
    - assets/images/logo.jpg
